<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team">
  <label for="name">Team name:</label>
  <input type="text" id="Submit" name="name"><br>
  <label for="coach">Coach:</label>
  <input type="text" id="Submit" name="coach"><br>
  <label for="pg">Point Guard:</label>
  <input type="text" id="Submit" name="pg"><br>
  <label for="sg">Shooting Guard:</label>
  <input type="text" id="Submit" name="sg"><br>
  <label for="pf">Power Forward:</label>
  <input type="text" id="Submit" name="pf"><br>
  <label for="sf">Small Forward:</label>
  <input type="text" id="Submit" name="sf"><br>
  <label for="c">Center:</label>
  <input type="text" id="Submit" name="c"><br>
  <button>Submit</button>
</form>
 </body>
</html>


