<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method= "POST" action= "/team">
   <p>Team Name: <input type= "text" input name= "name"></p>
   <p>Coach: <input type= "text" input name="coach"></p>
   <p>Point Guard: <input type="text" input name="pg"></p>
   <p>Shooting Guard: <input type="text" input name="sg"></p>
   <p>Small Forward: <input type="text" input name="sf"></p>
   <p>Power Forward: <input type="text" input name="pf"></p>
   <p>Center: <input type= "text" input name="c"></p>
   <input type="submit" name="Submit" value="Submit" id="submit" />
   </form>
 </body>
</html>


