<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <% @data.each do |info| %>
        <h2><%= info %></h2>
    <% end %>

 </body>
</html>


